@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: 28px;
}

a,.hero-secondary {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    padding: 120px 200px 140px;
    gap: 30px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
}

.placeholder {
    background-color: #6D747D;
    color: #F9FAF8;
    width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 40px 200px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card {
    border: 4px solid #3882F6;
    width: 165px;
    height: 160px;
    border-radius: 16px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.mini-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 165px;
    gap: 8px;
    color: #616A76;
}

/* for debugging */
body > div {
    border: 1px solid blue;
}